# Virtual environments
.venv/
venv/
venv39/
env/

# Python cache / compiled
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# OS / editor
.DS_Store
.vscode/

# Build / packaging
build/
dist/
*.egg-info/

# Project-specific
dataset/
results/
saved_models/